{% from "macros.html" import form_field_with_errors with context %}

{% extends "layout.html" %}

{% block head %}

{{ super() }}

<script type="module">
 import {get, parseRequestOptionsFromJSON, } from "{{ url_for('static', filename='js/webauthn-json.browser-ponyfill.js') }}";

 const elemBegin = document.getElementById('sign-2fa-form');
 elemBegin.addEventListener('submit', async (e) => {
     e.preventDefault();
     let options = parseRequestOptionsFromJSON({{ authentication_options|safe }});
     let response = await get(options);
     $('#response').val(JSON.stringify(response));
     $('#sign-2fa-form').submit();
 }, 1000);

</script>


{% endblock %}

{% block body %}

<div class="content">
		{{ super() }}
		<h1>Authenticate with U2F Device</h1>
<p>Press the button on the token you have called {{ key.name }}.</p>

<form method="POST" action="" id="sign-2fa-form">
    {{ form.hidden_tag() }}
    {{ form.response }}
	<button type="submit">Sign in</button>
</form>
</div>
{% endblock %}
